<!DOCTYPE html>
<html ng-app="schedule">

<body>


  <madison></madison>
    

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
<!--  <script src="/javascripts/angular/config/app.js"></script>
  <script src="/javascripts/controllers/MadisonCtrl.js"></script> -->
</body>

  
  
</html>
