<div class="home">

  <h1>Your Schedule</h1>
  <p>Check your weekly schedule!</p>
  
  <div>
    <p></p>
    <%= link_to new_worker_session_path do %>
      <p>Start your week on time!</p><h3>Log In</h3> 
    <% end %> 
  </div>

</div>