<h1 class='center'>Gina la Fornarina</h1>

</br>


<div  class="row">
  <div class="col-md-3">
    <h3>Choose your restaurant</h3>
    <ul>
      <li>Gina Madison</li>
      <li>Gina East</li>
      <li>Gina Lex</li>
      <li>Gina West</li>
    </ul>
  </div>

  <div class="col-md-1"></div>

  <div class="col-md-8">
    <%= render 'schedule' %>
  </div>
</div>