<div>

  <h3>Gina Madison</h3>

  </br>

    <table class="table table-striped">
      <th>
      <td>Name</td>
      <td>Monday</td>
      <td>Tuesday</td>
      <td>Wednesday</td>
      <td>Thursday</td>
      <td>Friday</td>
      <td>Saturday</td>
      <td>Sunday</td>
      </th>
      <tr  ng-repeat="server in servers track by $index">
        <td content-editable ng-model="server.name"></td>
        <td content-editable ng-model="server.monday"></td>
        <td content-editable ng-model="server.tuesday"></td>
        <td content-editable ng-model="server.wednesday"></td>
        <td content-editable ng-model="server.thursday"></td>
        <td content-editable ng-model="server.friday"></td>
        <td content-editable ng-model="server.saturday"></td>
        <td content-editable ng-model="server.sunday"></td>
      </tr>
    </table>

  <md-button class="raised" ng-click="addRow()">Add Row</md-button>
</div>