<div>

  <h3>Gina Madison</h3>

  </br>

    <table class="table table-striped">
      <th>
        <td>Monday</td>
        <td>Tuesday</td>
        <td>Wednesday</td>
        <td>Thursday</td>
        <td>Friday</td>
        <td>Saturday</td>
        <td>Sunday</td>
      </th>
      <tr  ng-repeat="server in servers track by $index">
        <td contenteditable ng-model="servers[$index].name"></td>
        <td contenteditable ng-model="servers[$index].monday"></td>
        <td contenteditable ng-model="servers[$index].tuesday"></td>
        <td contenteditable ng-model="servers[$index].wednesday"></td>
        <td contenteditable ng-model="servers[$index].thursday"></td>
        <td contenteditable ng-model="servers[$index].friday"></td>
        <td contenteditable ng-model="servers[$index].saturday"></td>
        <td contenteditable ng-model="servers[$index].sunday"></td>
      </tr>
    </table>

  <md-button class="raised" ng-click="debug()">Add Row</md-button>
</div>