<div>

  <h3>Gina Madison</h3>

  </br>

    <table class="table table-striped">
      <th>
        <td>Name</td>
        <td>Monday</td>
        <td>Tuesday</td>
        <td>Wednesday</td>
        <td>Thursday</td>
        <td>Friday</td>
        <td>Saturday</td>
        <td>Sunday</td>
      </th>
      <tr ng-repeat='row in rows track by $index'>
        <td>{{server}}</td>
        <td><select ng-model='rows[$index].name' change="edited(rows[$index])">
          <option ng-repeat="server in servers track by $index">{{server.name}}</option>
        </select></td>
        <td contenteditable ng-model="rows[$index].monday" change="edited(rows[$index])"></td>
        <td contenteditable ng-model="rows[$index].tuesday" change="edited(rows[$index])"></td>
        <td contenteditable ng-model="rows[$index].wednesday" change="edited(rows[$index])"></td>
        <td contenteditable ng-model="rows[$index].thursday" change="edited(rows[$index])"></td>
        <td contenteditable ng-model="rows[$index].friday" change="edited(rows[$index])"></td>
        <td contenteditable ng-model="rows[$index].saturday" change="edited(rows[$index])"></td>
        <td contenteditable ng-model="rows[$index].sunday" change="edited(rows[$index])"></td>
      </tr>
    </table>

  <md-button class="raised" ng-click="addRow()">Add Row</md-button>
</div>

<!-- <tr  ng-repeat="server in servers track by $index">
        <td><select name="repeatSelect" id="repeatSelect" ng-model="data.repeatSelect">
          <option ng-repeat="option in data.availableOptions" value="{{option.id}}" contenteditable ng-model="servers[$index].name"></option>
        </select></td> -->